<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Read All Users</title>
</head>
<body>
    <h1>Registered Users</h1>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
              {% for user in all_users: %}
              <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>
                  <a href="/users/{{ user.id }}">Show |</a>
                  <a href="/users/{{ user.id }}/edit">Edit |</a>
                  <a href="/users/{{ user.id }}/delete">Delete</a>
                </td>
              </tr>
              {% endfor %}
        </tbody>
      </table>

      {% if not all_users %}
      <div>
        <p>There aren't any users in the database yet! Click 'Add User' below to create one!</p>
      </div>
      {% endif %}

      <div class="buttons">
        <form action="/create">
            <button class="btn btn-primary">Add User</button>
        </form>
        

        <form action="/clear">
            <button class="btn btn-secondary">Clear Users</button>
        </form>
      </div>
      
</body>
</html>